*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://cdn.vectorstock.com/i/750p/11/04/road-paving-construction-vector-35841104.avif) no-repeat;
    background-size: cover;
    background-position: center; 
}
.wrapper h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button.btn{
    margin-top: 300px;
    margin-bottom: 100px;
    margin-left: 5px;
    width: 300%;
    height: 300%;
    background: rgb(1, 72, 238);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}